/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

		/* == COLOR CODES  */
		/* == FONT  */
		/* == GENERAL  */
		/* == HEADER  */
		/* == SECTION 1  */
		/* == SECTION 2  */
		/* == SECTION 3  */
		/* == SECTION 4  */
		/* == SECTION 5  */
		/* == FOOTER  */
		/* == MEDIA QUERIES  */

/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */

/*
Black (text) :            						#000
Green (Body BG, BG S2 Card, BG S5 Header) : 	#6AA84F
Dark Green (Main Header BG) :    				#274E13
Light Gray (BG S1) : 							#274E13
Light Gray 2 (BG S3 Header, BG S4-S5) : 		#EEEEEE
Gray (BG S2 Header, BG S3) : 					#CCCCCC
Gray 2 (BG S4 Card): 							#999999
Dark Gray (BG S2, BG S4 Header, BG Footer): 	#333333
*/

/* ---------------------------------------- */
/* ==              FONT                 */
/*---------------------------------------- */

@font-face {
    font-family: 'AlexBrush';
    src: url('assets/font/AlexBrush-Regular.ttf')  format('truetype');
  }
  
  @font-face {
    font-family: 'OpenSans';
    src: url('assets/font/OpenSans-Regular.ttf')  format('truetype');
  }
  
  * {
      font-family: "OpenSans", sans-serif; 
      font-size: 1em;
  }
  
  h1, h2, h3, h4, h5, h6 {
      font-family: "AlexBrush", sans-serif;
  }
  
  h1 {
      font-size: 2em;
  }
  
  h2 {
      font-size: 1.7em;
  }
  
  h3 {
      font-size: 1.4em;
  }
  
  .section-padding {
      padding: 1em 4em; /* Padding général sur les sections */
  }
  
  .last {
      margin-right: 0 !important; /* Retire la marge droite des derniers éléments */
  }
  
  /* ---------------------------------------- */
  /* ==            GENERAL                */
  /*---------------------------------------- */
  
  body {
      background: #6AA84F;
      margin: 0;
  }
  
  .main-container {
      max-width: 960px; /* Largeur maximale du conteneur principal */
      margin: 0 auto; /* Centrer horizontalement le conteneur principal */
  }
  
  img { /* Rendre les images responsive */
      max-width: 100%;
      max-height: 100%;
      height: auto;
      width: auto;
  }
  
  h1, h2, h3, h4, h5, h6 {
      margin: 0; /* Retire les marges des titres */
  }
  
  /* ---------------------------------------- */
  /* ==            HEADER                */
  /*---------------------------------------- */
  
  .main-header {
      background: #274E13;
      padding: 0 4em;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .logo {
      max-width: 20%; /* Largeur maximale du logo */
      padding: 1em 0;
  }
  
  /*     Navigation      */
  
  nav {
      width: 80%; /* Largeur du menu */
      font-size: 1.1em;
  }
  
  nav a {
      color: #FFF;
      text-decoration: none; /* Retire le soulignage des liens du menu de navigation */
      font-weight: bold;
  }
  
  nav a:hover {
      text-decoration: underline; /* Soulignage des liens du menu de navigation en hover */
  }
  
  nav ul {
      display: flex;
      justify-content: flex-end; /* Les menus sont répartis équitablement
      Le bord du premier est aligné sur le début du conteneur et la fin du dernier est alignée sur la fin du conteneur */
      list-style: none; /* Retire les puces du menu de navigation */
      padding: 0; /* Retire le padding du menu */
  }
  
  nav li {
      margin-left: 1em;
  }
  
  /* ---------------------------------------- */
  /* ==            SECTION 1                */
  /*---------------------------------------- */
  
  .section1 {
      background: #EEEEEE;
  }
  
  .section1-header {
      padding-bottom: 0; /* Retire le padding bas du header de la S01 */
  }
  
  .section1-content {
      padding-top: 0; /* Retire le padding haut du contenu de la S01 */		
  }
  
  .section1-img-container {
      display: flex;
      margin-top: 1.5em;
  }
  
  .section1-img {
      margin-right: 1em; /* Espace entre les deux images de la S01 */
  }
  
  .section1 img {
      border: 2px solid #666666;
  }
  
  /* ---------------------------------------- */
  /* ==            SECTION 2                */
  /*---------------------------------------- */
  
  .section2 {
      background: #333333;
  }
  
  .section2 header {
      background: #CCCCCC;
  }
  
  .section2-content {
      display: flex;
  }
  
  .section2-card {
      background: #6AA84F;
      margin-right: 1em; /* Espace entre les cartes de la S02 */
      padding: 1em; /* Padding dans les cartes de la S02 */
  }
  
  .section2-card img {
      border: 2px solid #666666;
  }
  
  .section2-card-content {
      text-align: center; /* Centre le texte des cartes de la S02 */
  }
  
  .section2-card-content p {
      color: #FFF;
  }
  
  /* ---------------------------------------- */
  /* ==            SECTION 3                */
  /*---------------------------------------- */
  
  .section3 {
      background: #CCCCCC;
  }
  
  .section3 header {
      background: #EEEEEE;
  }
  
  .section3 header p {
      text-align: center; /* Centre le texte du paragraphe du header de la S03 */
      max-width: 40%; /* Largeur maximale du paragraphe du header de la S03 */
      margin: auto; /* Centre horizontalement le paragraphe du header de la S03 */
  }
  
  /* ---------------------------------------- */
  /* ==            SECTION 4                */
  /*---------------------------------------- */
  .section4 {
      background: #EEEEEE;
  }
  
  .section4 header {
      background: #333333;
      color: #FFF;
  }
  
  .section4 header p {
      margin-top: -0.5em; /* Retire de la marge haut sur le paragraphe du header de la S04 */
  }
  
  .section4-content h2 {
      margin: 0.2em 0; /* Ajoute de la marge haut-bas sur les h2 du contenu de la S04 */
  }
  
  /*     Section 4 Article      */
  
  .section4-card-container {
      display: flex;
  }
  
  .section4-card {
      background: #999999;
      margin-right: 1em; /* Espace entre les cartes de la S04 */
      padding: 1em; /* Padding dans les cartes de la S04 */
  }
  
  .section4-card img {
      border: 2px solid #666666;
  }
  
  .section4-card-content {
      text-align: center; /* Centre le texte des cartes de la S04 */
  }
  
  .section4-card-content p {
      margin-bottom: 1em; /* Ajoute de la marge bas sur les paragraphes des cartes de la S04 */
  }
  
  .section4-card-social {
      display: flex;
      justify-content: space-evenly; /* Les icones des réseaux sociaux sont répartis équitablement
      Tous les éléments sont séparés par le même espace  */
  }
  
  .section4-card-social a { /* Taille des icones des réseaux sociaux */
      width: 2em;
      height: 2em;
  }
  
  .section4-card-social img {
      border: none; /* Retire les bordures des icones des réseaux sociaux */
  }
  
  /* ---------------------------------------- */
  /* ==            SECTION 5                */
  /*---------------------------------------- */
  
  /* ---------------------------------------- */
  /* ==            FOOTER                 */
  /*---------------------------------------- */
  
  /* ---------------------------------------- */
  /* ==       MEDIAS QUERIES        */
  /*---------------------------------------- */